@import 'bootstrap/dist/css/bootstrap.min.css';
body{
    min-width: 100vw;
    min-height: 100vh;
    background: lightblue url("./assets/dallas-skyline.jpg") no-repeat fixed center;
    background-size: cover;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cityInfo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 50px;
}
h2{
    text-transform: uppercase;
    letter-spacing: 0.07em;
}
.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(0,0,0,0.2);
    height: 200px;
    width: 100%;
    box-shadow: rgba(0,0,0,0.5) 1px 5px 7px;
    background-color: transparent;
    backdrop-filter: blur(6px);
    border-radius:10px;
    z-index:1;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 50px 10px;

}
.temperature{
    display: block;
    font-weight: bold;
    font-size: 30px;
}
.condition{
    text-transform: uppercase;
}
  