@import 'bootstrap/dist/css/bootstrap.min.css';
body{
    min-width: 100vw;
    min-height: 100vh;
    background: lightblue url("./assets/dallas-skyline.jpg") no-repeat fixed center;
    background-size: cover;
    font-family: 'Inter Tight', sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.App{
    padding:3% 5%;
}
h1{
    text-transform: uppercase;
    font-weight: 700;
    word-spacing: 0.1em;
    text-align: center;
}
#header2{
    font-size: 24px;
}

.cityInfo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}
h2{
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: 700;
    font-size: 24px;
}
h5{
    text-transform: capitalize;
    font-size: 18px;
}
.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(0,0,0,0.2);
    height: 250px;
    width: 100%;
    box-shadow: rgba(0,0,0,0.5) 1px 5px 7px;
    background-color: transparent;
    backdrop-filter: blur(6px);
    border-radius:10px;
    z-index:1;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 50px 10px;
    padding:5%;

}
.temperature{
    display: block;
    font-weight: 500;
    font-size: 40px;
}
.condition{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}
#contained-modal-title-vcenter{
    padding: 0 100px;
}
#details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:480px){
h1{
    font-size: 24px;
}
#header2{
    font-size: 20px;
}
.cityInfo{
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
.data{
    margin: 10px 0;
}
#contained-modal-title-vcenter{
    padding: 0 155px;
}
.data{
    height: 200px;
}
.temperature{
    font-size: 32px;
}
.condition{
    font-size: 18px;
}
}